<div id="index">
    <h1>Todos los productos</h1>
    {{!-- <p>cartId {{result.cartId}}</p> --}}
    {{!-- <p>{{result}}</p> --}}
    <button id="Borrar" name = {{cid}}>Limpiar carrito</button>
    <div id = "productos">
        {{#each result}}
            {{#each this.products}}
                <div class="prod">
                    <p>title {{this.product.title}}</p>
                    <p>description {{this.product.description}}</p>
                    <p>category {{this.product.category}}</p>
                    <p>price {{this.product.price}}</p>
                    <p>quantity {{this.quantity}}</p>
                </div>
            {{/each}}
        {{/each}}
    
    <button id="finish" name = {{cid}}>Finalizar compra</button>
    {{!-- <script src="/js/addProds.js"></script>   --}}
    <script type="text/javascript">
        let finish = document.getElementById("finish")
        finish.addEventListener("click",()=>{
            let amount = 0;
            let prods = Array.prototype.slice.call( document.getElementsByClassName("prod"));
            prods.map((item) => {
                console.log(item.children[3].innerText.split(" ")[1])
                amount += +item.children[3].innerText.split(" ")[1] * +item.children[4].innerText.split(" ")[1]
            })
            console.log("amount",amount)
            console.log(prods,typeof prods)
            {{!-- console.log(`http://${window.location.host}/api/tickets/${cartId}`) --}}
            console.log("finalizando compra",Date())
            fetch(`http://${window.location.host}/api/tickets/${finish.name}`,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    dateTime:Date(),
                    amount: amount
                })
            })
        })
        let button = document.getElementById("Borrar")
        button.addEventListener('click',()=>{
            let name = button.name
            console.log(name)
            fetch(`http://${window.location.host}/api/cart/${name}`,{
                method:"DELETE",
                headers:{
                    "Content-Type":"application/json"
                }
            }) .then((r) => console.log(r.status))
            location.reload()
        })
    </script>
</div>