<div id="index">
    <h1>Todos los productos</h1>
    {{!-- <p>cartId {{result.cartId}}</p> --}}
    {{!-- <p>{{result}}</p> --}}
    <button id="Borrar" name = {{cid}}>Limpiar carrito</button>
    <div id = "productos">
        {{#each result}}
            {{#each this.products}}
                <div class="prod">
                    <p>title {{this.product.title}}</p>
                    <p>description {{this.product.description}}</p>
                    <p>category {{this.product.category}}</p>
                    <p>price {{this.product.price}}</p>
                    <p>quantity {{this.quantity}}</p>
                </div>
            {{/each}}
        {{/each}}
    {{!-- <script src="/js/addProds.js"></script>   --}}
    <script type="text/javascript">
        let button = document.getElementById("Borrar")
        button.addEventListener('click',()=>{
            let name = button.name
            console.log(name)
            fetch(`http://${window.location.host}/api/cart/${name}`,{
                method:"DELETE",
                headers:{
                    "Content-Type":"application/json"
                }
            }) .then((r) => console.log(r.status))
        })
    </script>
</div>